In [1]:
# P 343 자전거 대여 수요 예측

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore', category=RuntimeWarning)

In [3]:
bike_df=pd.read_csv('./bike_train.csv')
print(bike_df.shape)
bike_df.head()

(10886, 12)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [4]:
bike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    10886 non-null  object
 1   season      10886 non-null  int64
 2   holiday     10886 non-null  int64
 3   workingday  10886 non-null  int64
 4   weather     10886 non-null  int64
 5   temp        10886 non-null  float64
 6   atemp       10886 non-null  float64
 7   humidity    10886 non-null  int64
 8   windspeed   10886 non-null  float64
 9   casual      10886 non-null  int64
 10  registered  10886 non-null  int64
 11  count       10886 non-null  int64
dtypes: float64(3), int64(8), object(1)
memory usage: 1020.7+ KB

In [5]:
bike_df['datetime'] = bike_df.datetime.apply(pd.to_datetime)

bike_df['year'] = bike_df.datetime.apply(lambda x : x.year)
bike_df['month'] = bike_df.datetime.apply(lambda x : x.month)
bike_df['day']= bike_df.datetime.apply(lambda x : x.day)
bike_df['hour']= bike_df.datetime.apply(lambda x : x.hour)

bike_df.head(3)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,year,month,day,hour
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,2011,1,1,0
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,2011,1,1,1
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,2011,1,1,2

In [6]:
drop_columns = ['datetime' , 'casual', 'registered']
bike_df.drop(drop_columns,axis=1 ,inplace=True)

In [7]:
from sklearn.metrics import mean_squared_error, mean_absolute_error

def rmsle(y,pred):
    log_y = np.log1p(y)
    log_pred = np.log1p(pred)
    squared_error=(log_y - log_pred) **2
    rmsle =np.sqrt(np.mean(squared_error))
    return rmsle

def rmse(y,pred):
    return np.sqrt(mean_squared_error(y,pred))

def evaluate_regr(y,pred):
    rmsle_val=rmsle(y, pred)
    rmse_val=rmse(y, pred)
    
    mae_val = mean_absolute_error(y,pred)
    print('RMSLE: {0:.3f} ,RMSE:{1:.3F} , MAE:{2:.3F} '.format(rmsle_val , rmse_val, mae_val))

In [8]:
def rmsle(y,pred):
    msle = mean_squared_log_error(y,pred)
    rmsle = np.sqrt(mse)
    return rmsle

In [9]:
# P347

In [10]:
from sklearn.model_selection import train_test_split , GridSearchCV
from sklearn.linear_model import LinearRegression , Ridge, Lasso

y_target = bike_df['count']
X_features = bike_df.drop(['count'],axis=1 , inplace=False )

X_train,X_test, y_train,y_test = train_test_split(X_features,y_target,test_size=0.3,random_state=0)

lr_reg = LinearRegression()
lr_reg.fit(X_train,y_train)
pred = lr_reg.predict(X_test)

evaluate_regr(y_test, pred)

NameError: name 'mean_squared_log_error' is not defined

In [ ]:
def get_top_error_data(y_test,pred,n_tops =5):
    result_df = pd.DataFrame(y_test.values , columns =['real_count'])
    
    result_df['predicted_count']  = np.round(pred)
    result_df['diff'] = np.abs(result_df['real_count']-result_df['predicted_count'])
    
    print(result_df.sort_values('diff',ascending=False)[:n_tops])
get_top_error_data(y_test,pred , n_tops=5)

In [ ]:
y_target.hist()

In [ ]:
y_log_transform=np.log1p(y_target)
y_log_transform.hist()

In [ ]:
# P349

In [ ]:
y_target_log = np.log1p(y_target)

# lr_reg = LinearRegression
# lr.reg.fit(X_train,y_train)
# pred = lr.reg.predict(X_test)

y_test_exp = np.expm1(y_test)

pred_exp = np.expm1(pred)

evaluate_regr(y_test_exp,pred_exp)